<% action_url = (action == :new) ? new_album_track_url : track_url(track) %>

<form action = "<%= album_tracks_url %>" method = "POST">

  <% if action == :edit  %>
    <input type = "hidden" name="_method" value="PATCH">
  <% end %>

  <input type = "hidden"
         name = "authenticity_token"
         value = "<%= form_authenticity_token %>">

  <label> Enter Track Name:
    <input type = "text"
           name = "track[track_name]"
           value = "<%= @track.track_name %>">
  </label>

  <br>

  <label> Choose Album:
    <select name = "track[album_id]">
      <% Album.all.each do  |album| %>
        <% if album.id == params[:album_id]  %>
          <option selected = "selected" value = "<%= album.id %>">
            <%= album.album_name %>
          </option>
        <% else  %>
          <option value = "<%= album.id %>">
            <%= album.album_name %>
          </option>
        <% end  %>
      <% end  %>
    </select>
  </label>

    <br>
  </br>

  <label> Regular or Bonus Track?
    <input
      type="radio"
      name = "track[bonus]"
      id = "bonus"
      value = "TRUE">
      <label for="bonus">Bonus</label>
    <input
      type="radio"
      name = "track[bonus]"
      id = "reg"
      value = "FALSE">
      <label for="reg">Regular</label>
  </label>

  <br>

  <label> Lyrics
    <input
      type = "textarea"
      value = "track[lyrics]">
  </label>

  <br>
  <% if action == :new  %>
    <input type = "Submit" name = "Create Album!">
  <% else  %>
    <input type = "Submit" name = "Edit Album!">
  <% end  %>
</form>
